@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  display: block;
  content:"";
  clear:both;
}

.side .side__box{
  width:225px;
}
.side--float .side__box{
  float:left;
  margin-left: 50px;
  font-size:16px;
  box-sizing: border-box;
}
.side--float .side__box:first-child{
  margin-left: 0;
}

.side--table .side__inner{
  display:table;
}
.side--table .side__box{
  display:table-cell;
  padding-left: 50px;
  vertical-align: middle;
}
.side--table .side__box:first-child{
  padding-left: 0;
}
.side--table .side__box__text{
  font-size: 16px;
}

.side--inlineblock .side__inner {
  font-size: 0;
}
.side--inlineblock .side__box {
  display: inline-block;
  margin-left:50px;
  font-size:16px;
  vertical-align: middle;
  box-sizing: border-box;
}
.side--inlineblock .side__box:first-child{
  margin-left: 0;
}

.side--flex .side__inner{
  display:flex;
  justify-content: space-around;
  align-items:flex-end;
}
.side--flex .side__box{
  font-size:16px;
  vertical-align:middle;
  box-sizing:border-box;
}

.side--margin .side__inner{
  font-size:0;
}
.side--margin .side__box{
  vertical-align: top;
}
.side--margin .side__box.is-stable{
  display:inline-block;
  width:300px;
}
.side--margin .side__box.is-flexible{
  display: inline-block;
  width:100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}
.side--margin .side__box__text{
  font-size:16px;
}

